@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: linear-gradient(
      120deg,  /* Adjust the angle to make it diagonal */
      rgba(255, 255, 255, 0.1) 0%, 
      transparent 40%, 
      transparent 60%, 
      rgba(255, 255, 255, 0.1) 100%
    ),
    var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
